/* Header Start */

/* Header End */

/* Dishes Start */

/* Dishes End */

/* Visit us Start */

.visit-us {
  display: flex;
  flex-direction: column;

  color: white;
  background: #775540;
  background: linear-gradient(
    90deg,
    rgba(119, 85, 64, 1) 0%,
    rgba(192, 141, 116, 1) 100%
  );
}

.visit-us h2,
.visit-us p {
  text-align: center;
}

.visit-us-cards {
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
  padding: 3rem;
}

.card-icon,
.card-title {
  text-align: center;
}

.visit-us-card {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  padding: 3rem;
  height: auto;
}

.visit-us-card-detail {
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.visit-us-reservation {
}

/* Visit us End */

/* Footer Start */

/* Footer End */
