html,
body {
  margin: 0;
  padding: 0;
}

/* Header Start */
.header {
  position: relative;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  height: auto;
}

.header img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-family: georgia;
}

.header-overlay h1 {
  font-size: 56px;
  font-weight: bold;
}

.header-buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1.5rem;
}

.reservation-button {
  display: inline-block;
  padding: 1rem 1rem;
  font-size: 1rem;
  background: rgba(233, 150, 122);
  color: black;
  border: none;
  border-radius: 8px;
}

.reservation-button:hover {
  background: rgba(233, 150, 122, 0.542);
}

.menu-button {
  display: inline-block;
  padding: 1rem 1rem;
  font-size: 1rem;
  color: black;
  border: none;
  background: rgb(218, 215, 215);
  border-radius: 8px;
}

.menu-button:hover {
  background: rgba(218, 215, 215, 0.542);
}

/* Header End */

/* Dishes Start */
.dishes h2 {
  color: rgb(169, 134, 80);
  transform: scale(2);
  text-align: center;
  font-size: 2rem;
  margin: 2rem 0 1rem 0;
  position: relative;
  font-style: italic;
}

.dishes h3 {
  color: rgb(124, 118, 111);
  text-align: center;
  margin: 2rem 0 1rem 0;
  position: relative;
  font-style: italic;
}

.dishes section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
  padding: 0 1rem 2rem 1rem;
}

.dishes figure {
  background-color: #f8ecd0;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 4px 8px rgba(155, 76, 76, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  position: relative;
}

.dishes figure:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(207, 131, 72, 0.388);
  transform: scale(1.05);
}

.dishes img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.dishes figcaption {
  font-weight: bold;
  font-size: 1rem;
  color: #8b5e3c;
  position: relative;
}

.dishes figcaption:hover {
  color: #f08528;
  transform: scale(1.05);
}

@media (max-width: 600px) {
  .dishes img {
    height: 180px;
  }
}

/* Dishes End */

/* Visit us Start */

.visit-us {
  display: flex;
  flex-direction: column;

  font-family: sans-serif;
  color: white;
  background: #775540;
  background: linear-gradient(
    90deg,
    rgba(119, 85, 64, 1) 0%,
    rgba(192, 141, 116, 1) 100%
  );
}

.visit-us h2 {
  font-size: 3rem;
}

.visit-us-subtitle {
  position: relative;
  width: 45%;
  margin: 2rem auto;
}

.visit-us-subtitle::after {
  position: absolute;
  content: "";
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 20%;

  border-bottom: 0.3rem solid white;
}

.visit-us h2,
.visit-us p {
  text-align: center;
}

.visit-us-cards {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
  padding: 3rem;
  height: auto;
}

.card-icon,
.card-title {
  text-align: center;
}

.card-title {
  font-size: 1.3rem;
}

.card-icon {
  padding: 0;
  margin: 0;
}

.card-icon svg {
  width: 2rem;
  height: auto;
  stroke: #e9b887;
}

.visit-us-card,
.visit-us-reservation {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border: 2px solid rgba(224, 218, 209, 0.459);
  border-radius: 20px;
  background-color: rgba(192, 141, 116, 0.408);
}

.visit-us-card-detail {
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0.9rem;
  color: rgb(255, 255, 255);
}

.visit-us-reservation {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card-subtitle {
  width: 50%;
}

.visit-us-reservation button {
  font-family: inherit;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 0.8rem 2.2rem;
  margin: 0 0.7rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 250ms, color 250ms, opacity 250ms;
}

.visit-us-reservation-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.visit-us-reservation button:first-child {
  background: #d2a48b;
  color: #3d2a1a;
}

.visit-us-reservation button:last-child {
  background: #f5f3ee;
  color: #3d2a1a;
}

.visit-us-reservation button:hover {
  opacity: 0.85;
}

@media (width < 1024px) {
  .visit-us-cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .card-subtitle {
    width: 90%;
  }
}

@media (width < 680px) {
  .visit-us-cards {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

/* Visit us End */

/* Footer Start */

/* Footer End */
